---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{{site.author-img}}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <div class="show-more-about"><a href="/about/">More about me...</a></div>
    </div>
  </header>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social %}
          <li><a href="https://twitter.com/{{ site.social }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="github"><a href="http://github.com/{{site.social}}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
</aside>
<div class="content-box clearfix">
  {{content}}
  fds
  {{ paginator }}
  asd
  {% include pagination-posts.html %}

  {% include pagination.html %}
</div>
